* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
#main {
    
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0 2vw;
}
nav {    
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    font-weight: 500;
    color:rgb(0, 89, 255);
    transition: all 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 4, 255);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all 0.4s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: rgb(255, 255, 255);
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2.5vw;
}
#left h3{
    width: 20vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
}
#center h1{
    font-size: 5vw;
    text-align: right;
    line-height: 4.5vw;
}
#page1 video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}
#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 8vw 0vw;
    position: relative;
}
#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar {
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 6.5vw;
    display: inline-block;

}
#gola {
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background-color: blue;
     display: inline-block;
     margin: 1vw 2vw;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}
#bottom-part2 {
    width: 20%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
   font-weight: 200;
   margin-top: 2vw;
   font-size: 1vw;
}
#page2 #gooey{
     height: 32vw;
     width: 32vw;
     position: absolute;
     border-radius: 50%;
     background: linear-gradient(to top right,rgb(99, 164, 180),rgb(170, 226, 240));
    top: 50%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
     z-index: 1;
}
@keyframes gooey{
  from{
    filter: blur(20px);
    transform: translate(10%,-10%)skew(0);
  }
  to{
    filter: blur(20px);
    transform: translate(-10%,10%)skew(-12deg);
  }
}


#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 4vw 0;
    
}
.fu{  
    white-space: nowrap;
    display: inline-block;
}

#page3 h5{
    font-size: 1.5vw;
    font-weight: 400;
     color: rgb(0, 0, 0);
     display: inline-block;
     padding: 1vw ;    
}
.lm{
    height: 150px;
    width: 100%;
    position: relative;
    overflow:hidden;
    
    border-bottom : 1px solid rgba(0, 0, 0, 0.432);
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.lm h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.lm .overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(157, 216, 253);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 0.25s;
}
.lm:hover .overlay{
    top: 0;
}
#page4{
    height: 70vh;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

#page5{
    height: 100vh;
    width: 100%;
    
}
#footer{
    position: fixed;
    z-index: 9;
    bottom: 0;
    height: 105vh;
    width: 100%;
    background-color: rgb(1, 14, 20);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
    font-weight:800;

}
#footer h1{
    font-size: 20vw;
}
#footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
}
#footer-left{
    font-size: 1.5vw;
    color:rgb(255, 255, 255);
}
#footer-right h3{
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scale: 1.5;
    margin-right: 3.5vh;
    padding: 1vh 6vh;
   
}

#footer-right{
    height: 5vh;
    width: 20%;
     border : 1px solid rgb(255, 255, 255);
    border-radius: 50px;
     padding: 0.1vh 2.5vh;
}
#footer-left h2{
    margin-top: 2.5vh;
    scale: 1;
    font-weight: 700;
    line-height:1vw;
}
#footer-bottom{
    border-top: 1px solid #dadada;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    z-index: 9;
    padding: 1vw 6vw;
}
#footer-bottom h6{
    padding: 1vw 2vw;
    display: inline-block;
    margin-right:10vw;
    font-weight: 100;
    font-size: 1.5vw;
}
.absolute {
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}
.justify-center {
    justify-content: center;
}
.bg-shape1{
    width: 400px;
    height: 400px;
    border-radius:9999px;
    position: relative;
    animation: one 10s infinite;
}
.bg-shape2{
    width: 300px;
    height: 300px;
    border-radius:9999px;
    position: relative;
    animation: two 10s infinite;
}

@keyframes one {
    0%{left: 0px; top: 0px;}
    25%{ left: -100px; top: 70px;}
    50%{ left: 20px; top: 150px;}
    75%{ left: 50px; top: 100px;}
    100%{ left: 0px; top: 0px;}
}

@keyframes two {
    0%{left: 0px; top: 0px;}
    25%{ left: 50px; top: 10px;}
    50%{ left: 100px; top: 50px;}
    75%{ left: 50px; top: 100px;}
    100%{ left: 0px; top: 0px;}
}

.opacity-50{
    opacity: 0.5;
}
.bg-blur{
    filter: blur(90px);
}
.bg-primary{
    background-color: rgb(0, 123, 255);
}
.bg-teal{
    background-color: rgb(167, 195, 255);
}
.bg-lightblue{
    background-color: rgb(135, 181, 250);
}
#page4{
    height: 70vh;
    width: 100%;
    background-color: #ffffff;
    padding: 10vw 2vw;
}
    .swiper {
      width: 100%;
      height: 100%;

    }
    .swiper-slide {
      width: 30%;
      border-left: 2px solid #8a8a8ac4 ;
      padding: 0 2vw;
    }
    #loader{
        height: 100%;
        width: 100%;
        background-color: rgb(11, 11, 27);
        position: fixed;
        z-index: 999;
        top: 0;
        transition: all ease 0.7s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #loader h1{
        font-size: 4vw;
        color: transparent;
        background: linear-gradient(to right,rgb(157, 219, 255),rgb(0, 96, 199)) ;
        -webkit-background-clip: text;
        position: absolute;
        opacity: 0;
         animation-name: load;
       animation-duration: 1s;
       animation-delay: 1s;
       animation-timing-function: linear;
    }
    #loader h1:nth-child(2){
          animation-delay: 2s;
    }
     #loader h1:nth-child(3){
          animation-delay: 3s;
    }
    @keyframes load{
        0%{
            opacity: 0;
        }
        10%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
